body {
    text-align: center;
    color: gray;
    font-size: 20px;
}

input {
    text-align: center;
    padding: 1%;
    font-size: 30px;
    color: grey;
}

input:focus {
    border: 2px solid blue;
    outline: none;
}

form {
    margin-bottom: 4%;
}

.bad-attempt {
    color: red;
}

.valid-char {
    font-size: 45px;
    color: orange;
}

.huge-text {
    font-size: 60px;
    color: orange;
}

.tag-sm {
    font-size: 14px;
    margin-left: 8px;
}

.tag {
    margin-right: 1%;
    margin-bottom: 1%;
}

.word-submission {
    font-size: 30px;
    color: orange;
}

#game {
    margin-top: 8%;
}

main {
    padding: 2%;
}
