body {
    text-align: center;
    color: gray;
    font-size: 20px;
}

input {
    text-align: center;
    padding: 1%;
    font-size: 30px;
    color: grey;
}

input:focus {
    border: 2px solid #4285F4;
    outline: none;
}

form {
    margin-bottom: 2%;
}

.bad-attempt {
    color: #d9534f;
}

.allowed-letter {
    font-size: 40px;
    color: orange;
}

.huge-text {
    font-size: 60px;
    color: orange;
}

.tag-sm {
    font-size: 14px;
    margin-left: 8px;
}

.tag-lg {
    background: #eee;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2)
}

.word-submission {
    font-size: 30px;
    color: orange;
}

#pregame {
    margin-bottom: 4%;
}

main {
    padding: 2%;
}
